<!DOCTYPE html>

<html>

<head>
    <title>User's List</title>
</head>

<body>
    <h1>User's List</h1>
    <ul>
        <li>Abdullah kamran</li>
        <li>Ali Ahmed</li>
        <li>Hamza Amir</li>
    </ul>

    <a href="/Directorates/create">Create New User</a>
    <br>
    <a href="/Directorates/update">Update Existing User</a>
</body>

</html>
