<!DOCTYPE html>
<html>
<head>
    <title>Update User</title>
</head>
<body>
    <h1>Update Record of User</h1>

    <form action="/submit-update" method="post">
        <label for="userId">User ID:</label>
        <br>
        <input type="text" id="userId" name="userId">
        <br>
        <br>

        <label for="firstName">First Name:</label>
        <br>
        <input type="text" id="firstName" name="firstName">
        <br>
        <br>

        <label for="fullName">Full Name:</label>
        <br>
        <input type="text" id="fullName" name="fullName">
        <br>
        <br>

        <input type="submit" value="Update">
    </form>

    <a href="index.html">Back to List</a>
</body>
</html>
