@model List<DMS.Models.Location>

<title>Create Main Office</title>

<div class="row">
    <div class="col-12 text-center">
        <h1>Create New Main Office</h1>
    </div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">

        <div>
            <div class="input-group mb-3">
                <span class="input-group-text">Location</span>
                <select class="form-select" id="ddlLocation">
                    <option value="">-- Select Location --</option>
                    @foreach (var loc in Model)
                    {
                        <option value="@loc.LoID">@loc.ShortName (@loc.LoCode)</option>
                    }
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Short Name</span>
                <input type="text" class="form-control" id="txtSname">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Full Name</span>
                <input type="text" class="form-control" id="txtFname">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Code</span>
                <input type="text" class="form-control" id="txtCode">
            </div>

            <input type="button" value="Save" id="btnSave" class="btn btn-success">
        </div>

    </div>
    <div class="col-3"></div>
</div>

@section PageScripts {
    <script src="/js/MO/save.js"></script>
}

<a href="/mo/index">Back to List</a>
